* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', cursive;
  background: #fff;
}

.container {
  width: 95%;
  max-width: 1200px;
  height: 86vh;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 46% 1fr;
  grid-template-areas: 
  "income info"
  "expense description";
}

.title {
  background: linear-gradient(-45deg, #27C1AD, #287596);
  font-size: 40px;
  padding: 20px;
  /* color: #3D8EFD; */
  color: #fff;
  letter-spacing: 2px;
}

.entry-budget {
  grid-area: income;
  margin: auto 0;
  padding: 1rem;
}

.entry-expenses {
  grid-area: expense;
  padding: 0 1rem;
}

.entry h5 {
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  height: 2em;
  align-items: center;
  font-size: 1.25rem;
  color: #27C1AD;
}

.entry-expenses button:hover {
  background: linear-gradient(-45deg, #F92F54, rgb(216, 28, 62));
}

form {
  border-radius: 0.25rem;
  padding: 1rem;
  border: 0.15rem solid transparent;
  background: #fff;
  box-shadow: -3px 3px 47px -9px rgba(158,155,158,0.63);
}

input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background: white;
}

*, ::after, ::before {
  box-sizing: border-box;
}

button {
  border-radius: 20px;
  width: 6rem;
  padding: 7px;
  font-size: 18px;
  margin-top: 1rem;
  background: #27C1AD;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  transform: scale(.9);
  background: #3D8EFD
}

.expense-input {
  margin-bottom: 20px;
}


/* ------- icons resume zone */
.info-resume {
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "info-income info-expense balance";
  background: linear-gradient(-45deg, #27C1AD, #287596);
  margin: 1rem;
  border-radius: .6rem;
  box-shadow: -3px 3px 47px -9px rgba(158,155,158,0.63);
} 

.info {
  text-align: center;
  margin: auto 0;
}

.info h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #fff;
  font-weight: lighter;
}

.info span i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #27C1AD
}

.budget-icon i {
  color: greenyellow
}

.info h4 {
  font-size: 2rem
}

.income {
  color: greenyellow
}
.expenses {
  color: #F92F54
}

.balance {
  color: #F3B934
}


/* ----- descripcion of expenses */
.details {
  margin: 1rem;
  overflow: auto;
}

.expensesList {
  grid-area: description;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  grid-template-areas: "descrip value delete";
}

.listItem {
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
}

.listItem .expense-desc {
  grid-area: descrip;
}

.listItem .value {
  grid-area: value
}

.listItem .delete {
  grid-area: delete
}


/* responsive */

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 200px;
    grid-template-areas: 
    "info"
    "income" 
    "expense" 
    "description"
  }

  .info-resume {
    padding: 20px
  }

}